.faq {
  margin-bottom: 7.7em;
  text-align: center;
  #openE1:checked {
    ~ .expander {
      [for="openE1"] {
        background: url("/src/images/icon-arrow-close.svg") right center
          no-repeat;
        @media screen and (min-width: 1024px) {
          background-position: right 1.5em center;
        }
      }
      #E1 {
        max-height: 500px;
      }
    }
  }
  #openE2:checked {
    ~ .expander {
      [for="openE2"] {
        background: url("/src/images/icon-arrow-close.svg") right center
          no-repeat;
        @media screen and (min-width: 1024px) {
          background-position: right 1.5em center;
        }
      }
      #E2 {
        max-height: 500px;
      }
    }
  }
  #openE3:checked {
    ~ .expander {
      [for="openE3"] {
        background: url("/src/images/icon-arrow-close.svg") right center
          no-repeat;
        @media screen and (min-width: 1024px) {
          background-position: right 1.5em center;
        }
      }
      #E3 {
        max-height: 500px;
      }
    }
  }
  #openE4:checked {
    ~ .expander {
      [for="openE4"] {
        background: url("/src/images/icon-arrow-close.svg") right center
          no-repeat;
        @media screen and (min-width: 1024px) {
          background-position: right 1.5em center;
        }
      }
      #E4 {
        max-height: 500px;
      }
    }
  }
  .expanders {
    margin-top: 2.5em;
    .expander {
      border-bottom: 1px solid var(--lightGray);
      &__header {
        background: url("/src/images/icon-arrow.svg") right center no-repeat;
        display: block;
        padding: 1em 0;
        transition: background 0.5s ease-in-out;
        .p-2 {
          color: var(--veryDarkBlue);
          font-weight: 500;
          margin-bottom: 0;
          text-align: left;
        }
      }
      &__content {
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.2s ease-in-out;
        p {
          color: var(--veryDarkBlue);
          font-size: 0.935em;
          line-height: 2em;
          margin-bottom: 0;
          text-align: left;
          padding: 1.6em 0;
        }
      }
    }
  }
  button {
    margin-top: 3rem;
  }
  @media screen and (min-width: 1024px) {
    margin: 10em 0 9.5em;
    .h3-2 {
      font-size: 2em;
      margin-bottom: 1.8rem;
    }
    .p-2 {
      font-size: 1.125em;
      line-height: 1.5em;
      margin: auto;
      margin-bottom: 1rem;
      width: 45%;
    }
    .expanders {
      margin: auto;
      margin-top: 3.5em;
      width: 540px;
      .expander {
        border-top: 1px solid var(--lightGray);
        border-bottom: none;
        &__header {
          background-position: right 1.5em center;
          padding: 1.2em 0;
          .p-2 {
            font-weight: 400;
            text-align: left;
            width: 100%;
          }
        }
      }
    }
    button {
      font-size: 0.9em;
      padding: 1rem 1.5rem;
    }
  }
}
