.footer {
  background-color: var(--veryDarkBlue);
  padding: 2.7em 0;
  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__links {
    margin: 2em 0;
    li a {
      color: white;
      display: block;
      font-size: 0.9em;
      letter-spacing: 3px;
      padding: 1em;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    a:first-child {
      margin-right: 2.5em;
    }
  }
  @media screen and (min-width: 1024px) {
    height: 88px;
    padding: 0;
    &__content {
      align-items: center;
      flex-direction: row;
      height: inherit;
      justify-content: space-between;
    }
    &__links {
      display: inline-flex;
      flex-direction: row;
      justify-content: left;
      margin: 0;
      margin-left: 2.8em;
      margin-right: auto;
      li {
        margin-right: 1.5em;
        a {
          font-size: 0.8em;
          letter-spacing: 1px;
        }
      }
    }
    &__social {
      align-items: baseline;
      a:first-child {
        margin-right: 2.5em;
      }
      a img:hover {
        filter: brightness(0) saturate(100%) invert(45%) sepia(19%)
          saturate(5771%) hue-rotate(330deg) brightness(107%) contrast(97%);
      }
    }
  }
}
